.section{
  max-width: 100%;
  overflow-x: hidden;
  .section__img{
    display: block;
    max-width: 100%;
    @include media(lg){
      width: calc(50vw - 20px);
      max-width: none;
    }
  }
  .section__text p{
    text-align: justify;
    text-align-last: left;
    color: $text-color;
  }
  .section__sub-title{
    font-size: 1.5em;
    font-weight: 500;
  }
}
.section--reverse{
  .row{
    flex-direction: row-reverse;
  }
  .section__img{
    float: right;
  }
}
