
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1764px;
  @include media(xl){
    padding-right: 20px;
    padding-left: 20px;
  }
}

.container--fhd{
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  @include media(xl){
    margin-right: -20px;
    margin-left: -20px;
  }
}

.align-items-center{
  align-items: center;
}

[class*="col-"], .col{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @include media(xl){
    padding-right: 20px;
    padding-left: 20px;
  }
}

@include media(lg){
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
