
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1764px;
  @include media(xl){
    padding-right: 20px;
    padding-left: 20px;
  }
}

.container--fhd{
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  @include media(xl){
    margin-right: -20px;
    margin-left: -20px;
  }
}

[class*="col-"], .col{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @include media(xl){
    padding-right: 20px;
    padding-left: 20px;
  }
}

@include media(xs){
  .col-xs-10{
    flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }
}
@include media(sm){
  .col-sm-8{
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }
}

@include media(md){
  .col-md-5{
    flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@include media(lg){
  .col-lg-4{
    flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.flex-width-fill{
  flex: 1 0 auto;
}

.align-items-center{
  align-items: center;
}
.justify-content-center{
  justify-content: center;
}
