//normalize ovveride
// The font size set on the root html element.
$base-font-size: 16px;


// The default font family.
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=latin-ext');
$base-font-family: 'Open Sans', sans-serif;



//BREAKPOINTS
$breakpoints: (
  xxs: 400px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1500px,
  xxl: 1800px,
);



$green: #6ab04e;
$text-color: #497d8b;
